@use "bourbon";

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    
    transform: translate(-50%, -50%);
}
.nav-toggler{
    font-size: 1.7rem;
    color: white;
    float: right;

    @media screen and (min-width:1024px){
        display:none;
     
     }
    

}
.nav-toggler:hover{
    color: #07070700;
}
.btn {
    color: #fff;
    border: 1px solid white;
    padding: 20px 80px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    span {
        font-family: 'Roboto', sans-serif;
        position: relative;
        z-index: 100;
    }
    
    &:before, &:after {
        content:'';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    &:before {
        transform: translate3d(-100%, 0, 0);
        background-color: white;
        border: 1px solid white;
        
        transition: transform 300ms ease-in-cubic;
    }
    
    &:after {
        background-color:#A38A00;
        border: 1px solid#A38A00;
        transform: translate3d(100%, 0, 0);
        
        transition: transform 300ms 300ms cubic-bezier(.16,.73,.58,.62);
    }
    
    &:hover {
        &:before {
            transform: translate3d(0,0,0);
        }
        
        &:after {
            transform: translate3d(0,0,0);
        }
    }

}